<div class="container">
  <h1>Welcome to Stupid Coaching</h1>
  <h3>What do you want to ask the coach?</h3>
  <div class="form-card">
    <form action="/answer" method="GET">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
